extends layout

block content
  header.w3-container.w3-teal
    h3.w3-left Error Page
    h3.w3-right 
      a(href='/students') Home

  .w3-container
    h1= message
    h2= error.status
    pre #{error.stack}

  footer.w3-container.w3-teal.footer
    h4 TPC 7 - DAW2020


  
