doctype html
html
  head
    title Student Management (DAW2020)
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
    block imports
  body
    block content
    
